@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
.navbar-nav {
    padding-right: 10% !important;
}
.modal-content {
    border-radius: 0px !important;
    box-shadow: 0.1rem 0.1rem black;
}
.thelinks:hover {
    color: black;
}
.btn-secondary {
    border-radius: 0;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
}
.btn-primary {
    border-radius: 0;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
}
.navbar-nav {
    padding-right: 10% !important;
}
.nav-link:hover {
    font-weight: bold !important;
}
input {
    width: 300px;
    height: 40px;
    border-radius: 0;
    border: solid black
}
@media screen and (max-width: 340px) {
    input {
        width: 270px;
    }
}
#addToStore {
    width: 10rem;
    height: 3rem;
    border: solid black;
    background-color: black;
    color: white;
    font-weight: bolder;
}
.row {
    display: grid;
}
.border-1 {
    background-color: black;
    color: white;
    border: solid white;
}
thead {
    border: solid white;
}
table {
    margin: auto;
}
@media (max-width: 767px) {
    #product-table thead {
      display: none;
    }

    #product-table tbody tr {
      display: block;
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }

    #product-table tbody td {
      display: block;
      text-align: center;
    }
  }
/* @media screen and (max-width: 930px) {
    thead{
        width: 700px;
    }
    table {
        width: 700px;
    }
}
@media screen and (max-width: 850px) {
    thead{
        width: 600px;
    }
    table {
        width: 600px;
    }
} */
