@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
.navbar-nav {
    padding-right: 10% !important;
}
.thelinks:hover {
    color: black;
}
.navbar-nav {
    padding-right: 10% !important;
}
.nav-link:hover {
    font-weight: bold !important;
}
