@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    box-sizing: border-box;
}
.navbar-nav {
    padding-right: 10% !important;
}
.nav-link:hover {
    font-weight: bold !important;
}
#cart-display {
    width: 100% !important;
    border-collapse: collapse;
}
#cart-display th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
}
#cart-display td {
    text-align: center;
}
#cart-display input {
    text-align: center;
}

  