@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    box-sizing: border-box;
}
/* .back-img {
    background-image: url(https://i.postimg.cc/pT1qp0T3/HIGH-TOP-MEN-COVER-EU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 700px !important;
    border-radius: 0;
} */
.navbar-nav {
    padding-right: 10% !important;
}
.nav-link:hover {
    font-weight: bold !important;
}
.cardA {
    width: 360px !important;
    border-radius: 0;
    padding-inline: 0;
    box-shadow: 0.20rem 0.20rem black !important;
}
.cardA img{
    
    transition: 0.5s ease-in-out;
}
.cardA:hover img {
    scale: 0.9;
}
.inner-card {
    padding-inline: 10px !important;
}
.but {
    padding-inline: 15px;
}
.add {
    color: white;
    border: none;
    background-color: black;
    font-weight: bold;
}
@media screen and (max-width: 390px) {
    .cardA {
        width: 340px !important;
        margin-inline: 10px !important;
    }
}
@media screen and (max-width: 370px) {
    .cardA {
        width: 290px !important;
        margin-inline: 20px !important;
    }
}
@media screen and (max-width: 300px) {
    .cardA {
        width: 270px !important;
        margin-inline: 10px !important;
    }
}