@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    box-sizing: border-box;
}
/* .back-img {
    background-image: url(https://i.postimg.cc/pT1qp0T3/HIGH-TOP-MEN-COVER-EU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 700px !important;
    border-radius: 0;
} */
.navbar-nav {
    padding-right: 10% !important;
}
.nav-link:hover {
    font-weight: bold !important;
}
#buttons {
    display: flex;
    justify-content: center;
}
.value {
    margin-inline: 5px;
    width: 120px;
    border-radius: 30px;
    background-color: transparent;
    border: 0.9;
    border-color: lightgrey;
    font-weight: bold;
    box-shadow: 0.15rem 0.15rem black;
}
.hide {
    display: none;
}
@media screen and (max-width: 600px) {
    .value {
        font-size: smaller !important;
        width: 90px !important;
    }
}
@media screen and (max-width: 470px) {
    .value {
        font-size: smaller !important;
        min-width: 60px !important;
        border-radius: 0% !important;
    }
}
.value:hover {
    background-color: black;
    color: white;
}
#prods {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 100% !important;
    max-width: 300px;
    margin: 10px;
    border-radius: 0;
    margin-inline: 20px;
    text-align: center;
    display: inline-block;
    justify-content: center !important;
    box-shadow: 0.20rem 0.20rem black !important;
}
.image-container {
    width: 100%;
    padding-bottom: 10px;
  }
.card img{
    width: 100%;
    height: auto;
    transition: 0.5s ease-in-out;
}
.card:hover img {
    scale: 0.9;
}
.inner-card {
    padding-inline: 10px !important;
}
.but {
    padding-inline: 15px;
}
.add-to-cart-btn {
    color: white;
    border: none;
    padding: 5px;
    background-color: black;
    font-weight: bold;
}
@media screen and (max-width: 390px) {
    .card {
        width: 340px !important;
        margin-inline: 10px !important;
    }
}
@media screen and (max-width: 370px) {
    .card {
        width: 290px !important;
        margin-inline: 20px !important;
    }
}
@media screen and (max-width: 300px) {
    .card {
        width: 270px !important;
        margin-inline: 10px !important;
    }
}
